<div class="container">
  <div class="form-container">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="candidatName" class="form-label">Nom</label>
        <input
          type="text"
          class="form-control"
          id="candidatName"
          placeholder="Doe"
          formControlName="name"
        />
        <small *ngIf="form.get('name')?.errors?.['minlength']"
          >Le nom doit faire minimum
          {{form.get('name')?.errors?.['minlength'].requiredLength}}
          caractères.</small
        >
        <small *ngIf="form.get('name')?.errors?.['maxlength']"
          >Le nom doit faire minimum
          {{form.get('name')?.errors?.['maxlength'].requiredLength}}
          caractères. ({{form.get('name')?.errors?.['maxlength'].actualLength}})
        </small>
      </div>
      <div class="mb-3">
        <label for="candidatFirstName" class="form-label">Prénom</label>
        <input
          type="text"
          class="form-control"
          id="candidatFirstName"
          placeholder="John"
          formControlName="firstName"
        />
        <small *ngIf="form.get('firstName')?.errors?.['minlength']"
          >Le prénom doit faire minimum
          {{form.get('firstName')?.errors?.['minlength'].requiredLength}}
          caractères.</small
        >
        <small *ngIf="form.get('firstName')?.errors?.['maxlength']"
          >Le prénom doit faire minimum
          {{form.get('firstName')?.errors?.['maxlength'].requiredLength}}
          caractères. ({{form.get('firstName')?.errors?.['maxlength'].actualLength
          }})
        </small>
      </div>
      <div class="mb-3">
        <label for="statut" class="form-label">Statut</label>
        <select
          class="form-select"
          id="statut"
          aria-label="Default select example"
          formControlName="statut"
        >
          <option value="EC">En Cours</option>
          <option value="RP">Réponse Positive</option>
          <option value="RN">Réponse Négative</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="compteRendu" class="form-label">Compte Rendu</label>
        <textarea
          class="form-control"
          id="compteRendu"
          rows="3"
          formControlName="desc"
        ></textarea>
        <small>{{ form.value?.desc?.length }}/4000</small>
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Date de l'entretien</label>
        <input
          type="date"
          class="form-control"
          id="date"
          formControlName="date"
        />
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-primary me-2"
          [disabled]="!form.valid"
        >
          Ajouter
        </button>
        <a class="btn btn-danger" [routerLink]="['../']">Annuler</a>
      </div>
    </form>
  </div>
</div>
