<div class="form-container">
    <form >
        <input type="text" placeholder="Nom">
        <br>
        <input type="text" placeholder="Prénom">
        <br>
        <select>
            <option value="EC">En Cours</option>
            <option value="RP">Réponse Positive</option>
            <option value="RN">Réponse Négative</option>
        </select>
        <br>
        <input type="text" placeholder="Compte Rendu">
        <br>
        <input type="text" placeholder="Date de l'entretien">
    </form>    
</div>
