<div class="container mt-4">
  <button class="btn btn-primary" [routerLink]="['/', 'form']">
    Ajouter un candidat
  </button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Statut</th>
        <th scope="col">Compte Rendu</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidat of showcandidats">
        <td scope="row">{{ candidat.name }}</td>
        <td>{{ candidat.firstname }}</td>
        <td>{{ candidat.statut }}</td>
        <td>{{ candidat.desc }}</td>
        <td>{{ candidat.date | date: "shortDate" }}</td>
        <td class="text-nowrap">
          <a
            type="button"
            class="btn btn-success me-2"
            [routerLink]="['/', 'form', candidat.id]"
            >Modifier</a
          >
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteCandidat(candidat.id)"
          >
            Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" *ngIf="page != 1" (click)="changePage(1)">
        <a class="page-link alert-primary" href="#">1</a>
      </li>
      <li class="page-item" *ngIf="page > 3" (click)="changePage(page - 2)">
        <a class="page-link" href="#">{{ page - 2 }}</a>
      </li>
      <li class="page-item" *ngIf="page > 2" (click)="changePage(page - 1)">
        <a class="page-link" href="#">{{ page - 1 }}</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">{{ page }}</a>
      </li>
      <li
        class="page-item"
        *ngIf="page < total / limit - 1"
        (click)="changePage(page + 1)"
      >
        <a class="page-link" href="#">{{ page + 1 }}</a>
      </li>
      <li
        class="page-item"
        *ngIf="page < total / limit - 2"
        (click)="changePage(page + 2)"
      >
        <a class="page-link" href="#">{{ page + 2 }}</a>
      </li>
      <li
        class="page-item"
        *ngIf="page < lastPage"
        (click)="changePage(lastPage)"
      >
        <a class="page-link alert-primary" href="#">{{ lastPage }}</a>
      </li>
    </ul>
  </nav>
</div>
