<div class="container mt-4">
  <button class="btn btn-primary" [routerLink]="['/', 'form']">
    Ajouter un candidat
  </button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Nom</th>
        <th scope="col">Descrition</th>
        <th scope="col">Modifié</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of heros">
        <td scope="row">
          <img
            src="{{
              hero.thumbnail.path +
                '/standard_medium.' +
                hero.thumbnail.extension
            }}"
            width="100%"
            alt="Some Issue Loading Image..."
          />
        </td>
        <td>{{ hero.name }}</td>
        <td>{{ hero.description }}</td>
        <td>{{ hero.modified | date: "medium":"FR-fr" }}</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" *ngIf="page != 1" (click)="changePage(1)">
        <a class="page-link alert-primary" href="#">1</a>
      </li>
      <li class="page-item" *ngIf="page > 3" (click)="changePage(page - 2)">
        <a class="page-link" href="#">{{ page - 2 }}</a>
      </li>
      <li class="page-item" *ngIf="page > 2" (click)="changePage(page - 1)">
        <a class="page-link" href="#">{{ page - 1 }}</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">{{ page }}</a>
      </li>
      <li
        class="page-item"
        *ngIf="page < total / limit - 1"
        (click)="changePage(page + 1)"
      >
        <a class="page-link" href="#">{{ page + 1 }}</a>
      </li>
      <li
        class="page-item"
        *ngIf="page < total / limit - 2"
        (click)="changePage(page + 2)"
      >
        <a class="page-link" href="#">{{ page + 2 }}</a>
      </li>
      <li
        class="page-item"
        *ngIf="page != lastPage"
        (click)="changePage(lastPage)"
      >
        <a class="page-link alert-primary" href="#">{{ lastPage }}</a>
      </li>
    </ul>
  </nav>
</div>
