<div class="container mt-4">
  <button class="btn btn-primary" [routerLink]="['/', 'form']">
    Ajouter un candidat
  </button>
  <button class="btn btn-primary" (click)="getHero()">Test Marvel</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Nom</th>
        <th scope="col">Descrition</th>
        <th scope="col">Modifié</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of heros">
        <td scope="row">
          <img
            src="{{
              hero.thumbnail.path +
                '/standard_medium.' +
                hero.thumbnail.extension
            }}"
            width="100%"
            alt="Some Issue Loading Image..."
          />
        </td>
        <td>{{ hero.name }}</td>
        <td>{{ hero.description }}</td>
        <td>{{ hero.modified | date: "medium":"FR-fr" }}</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
